###########################################################################################
#
# AUTHOR
# ------
# Lumberjacks Incorperated (2018)
#
###########################################################################################

# Ignore the build directory
build/

# Ignore the executable directory
bin/
